body{
  font-family: 'Roboto',sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
p{
  font-size: 16px;
}
body{
  display: flex;
}
/* секция */

/* навбар  */
.navbar-btn{
  top: 10px;
  left: 30px;
  display: none;
  z-index: 4;
  height: auto;
  width: 50px;
  background-color: #244BC5;
  border-radius: 10px;
  position: absolute;
  padding: 2px 1px 1px 1px;
  cursor: pointer;
}
.btn-line {
  vertical-align: middle;
  height: 3px;
  width: 60%;
  margin-top: 8px; 
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
}

.navbar{
  z-index: 3;
  position: fixed;
  overflow: auto;
  display: block;
  flex-direction: column;
  padding: 45px 10px 0 38px;
  width: 230px;
  height: 100vh;
  background-color: #244BC5;
}
.navbar.visible{
  margin-left: 0;
}

.navbar::-webkit-scrollbar {
  display: none;
}
.navbar_input{
  /* background: url("img/search.svg") no-repeat 3px 3px; */
  width: 190px;
  padding: 5px;
  margin-bottom: 25px;
  outline: none;
}

.navbar_item{
  display: block;
  width: 170px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 25px;
  vertical-align: center;
}


.navbar_news::before {
  margin-right: 10px;
  vertical-align: middle;
  content: url('img/news.svg');
  float: left;
}


.navbar_user::before {
  content: url('img/user.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_information::before {
  content: url('img/information.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_plan::before {
  content: url('img/plan.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_grants::before {
  content: url('img/grants.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_rating::before {
  content: url('img/rating.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_schedule::before {
  content: url('img/schedule.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_appraisals::before {
  content: url('img/appraisals.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_questioning::before {
  content: url('img/questioning.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_works::before {
  content: url('img/works.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_publications::before {
  content: url('img/publications.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_practices::before {
  content: url('img/practices.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_educational::before {
  content: url('img/educational.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_educational::before {
  content: url('img/educational.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_faq::before {
  content: url('img/FAQ.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_help::before {
  content: url('img/help.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_subscription::before {
  content: url('img/subscription.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_requirements::before {
  content: url('img/requirements.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_ebs::before {
  content: url('img/ebs.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.navbar_catalog::before {
  content: url('img/catalog.svg');
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}



/*  основная часть */



/* СТРАНИЦА ЛИЧНЫЕ СВЕДЕНИЯ */

/* блок про студента */
.main-block{
  margin-left: 278px;
  padding: 20px;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}
.main-info{
  display: flex;
  justify-content: space-between;
  
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 35px;
  margin-left: 2%;
  width: 92%;
  height: auto;
  /* border: 1px solid #000; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.main-student{
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-student-name{
  flex-direction: column;
  margin-left: 10px;
}
.main-week{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-week-number{
  font-size: 18px;
}
.main-setting{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
.main-settings{
  padding-left: 12px;
  margin-right: 12px;
}


/* 2 блок с задачами */

.main-block-row{
  flex-wrap: wrap;
  display: flex;
  height: auto;
  flex-direction: row;
  margin-bottom: 10px;
}

.main-tasks{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 530px;
  /* border: 1px solid #000; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  /* margin-left: 4%; */
  border-radius: 15px;
  padding: 20px;
}
.main-tast-info{
  display: flex;
  justify-content: space-between;
}
.main-task-title{
  text-align: center;
  width: 100%;
  font-size: 18px;
  margin-left: 50px;
}
.main-task-add,
.main-task-del {
  cursor: pointer;
  padding-right: 10px;
}

.task,
.task-add {
  height: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* border: 1px solid #000; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius:  15px;
  padding: 10px;
}

.task-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.task-add-title{
  display: flex;
  width: 100%;
  justify-content: center;
}
.task-text{
  padding: 20px 15px;
}
.task-accept{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.task-accept-btn {
  margin-right: 15px;
  padding: 5px;
}
.main-task-img{
  cursor: pointer;
  display: block;
}
.task-date-input{
  border: 1px solid rgb(160, 160, 160);
  border-width: 0px 0px 1px 0px;
  outline: none;
  text-align: center;
}
.task-text-input{
  width: 100%;
  outline: none;
}
/* 3 блок */

.main-progress{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 420px;
  /* border: 1px solid #000; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  /* margin-left: 5%; */
  border-radius: 15px;
  padding: 20px;
}
.main-progress-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-progress-title{
  margin-left: 90px;
  font-size: 18px;
}
.main-progress-cirle{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#main-progress-diagram{
}
.main-progress-rating{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-left: 15px;
}
.main-progress-1,
.main-progress-2,
.main-progress-3 {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  margin-top: 15px;
}
.main-progress-red{
  height: 23px;
  width: 23px;
  background-color: red;
  border-radius: 50px;
  margin-right: 15px;
}
.main-progress-blue{
  height: 23px;
  width: 23px;
  background-color: blue;
  border-radius: 50px;
  margin-right: 15px;
}
.main-progress-yellow{
  height: 23px;
  width: 23px;
  background-color: yellow;
  border-radius: 50px;
  margin-right: 15px;
}


/*  4  блок  */

.main-steps {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 35px;
  margin-left: 2%;
  width: 92%;
  height: auto;
  /* border: 1px solid #000; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.container {
  margin-top: 10px;
  width: 100%;
  margin-left: -20px;
  z-index: 1;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  font-size: 15px;
  list-style-type: none;
  float: left;
  width: 6.25%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content: "";
  /* content:counter(step);
  counter-increment: step; */
  width: 12px;
  height: 12px;
  border: 2px solid #C4C4C4;
  display: block;
  margin: 0 auto 2px auto;
  border-radius: 50%;
  line-height: 10px;
  background: rgb(231, 237, 255);
  color: #C4C4C4;
  text-align: center;
  font-weight: bold;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  background: #C4C4C4;
  top: 5px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li:first-child::before {
  color: #fff;
  background: #244BC5;
  border: 2px solid #244BC5;
}

.progressbar li.active+li:after {
  background: #244BC5;
}

.progressbar li.active+li:before {
  border-color: #244BC5;
  background: #244BC5;
  color: white
}
/* .main-step-2{
  margin-top: -20px;
}
.main-step-2::before{
  margin-top: 0px;
}
.main-step-2::after{
  margin-top: 20px;
} */

.progressbar li.main-step-2:before, 
.progressbar li.main-step-4:before, 
.progressbar li.main-step-6:before, 
.progressbar li.main-step-8:before, 
.progressbar li.main-step-10:before, 
.progressbar li.main-step-12:before{
  margin: 0 auto -33px auto;

}
.progressbar li.main-step-14:before{
  margin: 0 auto -50px auto;
}


@media (max-width:900px) {
  .navbar {
    padding: 60px 10px 0 38px;
    margin-left: -278px;
    transition: 1s;
  }
  .main-info {
    margin-left: 10%;
    width: 83%;
  }
  .navbar-btn{
    display: block;
  }

  .main-block {
    margin-left: 0px;
    transition: 2s;
  }
}

@media (max-width:600px) {
  .navbar {
    margin-left: -278px;
  }
  .main-progress-cirle {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-info {
    margin-left: 5%;
    width: 90%;
    padding: 5px;
  }
  .main-block {
    padding: 0;
    width: 100%;
    margin-left: 0px;
  }
  .main-info {
    flex-direction: column;
    margin-top: 80px;
  }
  .main-steps{
    display: none;
  }
  .main-student, .main-week, .main-setting{
    padding-bottom: 15px;
  }
}

/*  СТРАНИЦА НОВОСТИ */


.news{
  margin-left: 278px;
  padding: 20px 30px;
}
.news-block{
  padding-bottom: 20px;
}
.news-img{
  width: 150px;
  float: left;
  padding-right: 10px;
}



/* МОДАЛЬНОЕ ОКНО */

.modal-message {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.modal-setting {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal-bg1,
.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 11;
}

.modal-content {
  z-index: 12;
  text-align: center;
  height: 80%;
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  /* background-color: #2148C0; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 30px;

}

.modal-title {
  color: #000;
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 30px;
}

