body{
  font-family: "Roboto", sans-serif;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.main-bg {
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  background: url(../img/bg.jpg) no-repeat;
  
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}
.main-logo{
  display: inline-block;
  margin-top: 16px;
  margin-left: 35px;
}

.main-login{
  cursor: pointer;
  float: right;
  margin-right: 33px;
  font-size: 14px;
  display: inline-block;
  color:#fff;
}
.main-registration{
  cursor: pointer;
  float: right;
  margin-right: 31px;
  font-size: 14px;
  display: inline-block;
  color:#fff;
}
.main-title{
  font-size: 30px;
  position: relative;
  top: 15%;
  color: #fff;
  text-align: center;
}
.main-title1{
  margin-right: 60%;
}
.main-title3{
  margin-left: 50%;
}

/*  модальное окно  */

.modal{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.modal-bg{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.modal-content{
  z-index: 5;
  text-align: center;
  height: 400px;
  width: 600px;
  background: linear-gradient(270.2deg, #264ECA 2.18%, rgba(255, 255, 255, 0) 69.91%),
  #2148C0;
  /* background-color: #2148C0; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}
.modal-title{
  margin-top: 50px;
  color:#fff;
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.modal-form{
  margin: auto;
  width:250px;
  text-align: center;
}
.modal-input{
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(120, 120, 120, 0.5),
  inset -5px 5px 10px rgba(120, 120, 120, 0.2),
  inset 5px -5px 10px rgba(120, 120, 120, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.9),
  inset 5px 5px 13px rgba(120, 120, 120, 0.9);
  border: none;
  font-size: 16px;
  outline: none;
  text-align: center;
  margin-top: 10px;
  padding: 15px;
}
.modal-btn{
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #C4C4C4;
  border: none;
  width: 100px;
  font-size: 20px;
  box-shadow: 2px 2px 4px rgba(78, 78, 78, 0.2),
  -2px -2px 4px rgba(78, 78, 78, 0.2),
  0px -1px 4px rgba(255, 255, 255, 0.9),
  -2px 2px 5px rgba(78, 78, 78, 0.9),
  inset -1px 1px 2px rgba(255, 255, 255, 0.3),
  inset 1px -1px 2px rgba(78, 78, 78, 0.5);
}